<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-12 col-lg-4">
        <div class="footer-logo">

          <a class="navbar-brand" href="http://alskom.uz" target="_blank"> &copy; 2019 Alskom-Vita</a>

          <div class="list-menu">

            <ul class="list-unstyled">
              <li>
                <a href="javascript:void(0)">{{"footer.followUs"|translate}}: <br>
                  <div class="social-links">
                    <a href="https://www.facebook.com/Alskom-VITA-103456081033455/" target="_blank" class="facebook"><i
                      class="fa fa-facebook"></i></a>
                    <a href="https://www.instagram.com/alskom_vita" target="_blank" class="instagram"><i
                      class="fa fa-instagram"></i></a>
                  </div>
                </a>
              </li>
            </ul>

          </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4><i class="fa fa-phone"></i>{{"common.phone"|translate}}</h4>

          <ul class="list-unstyled">
            <li>
              <a href="javascript:void(0)">(78) 147-11-00
              </a>
            </li>
            <li>
              <a href="javascript:void(0)">(78) 147-22-00
              </a>
            </li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4><i class="fa fa-envelope"></i>E-mail</h4>

          <ul class="list-unstyled">
            <li><a href="javascript:void(0)">alskomvita@gmail.com </a></li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <div class="list-menu">

          <h4><i class="fa fa-map-marker"></i>{{"common.address"|translate}}</h4>

          <ul class="list-unstyled">
            <li>
              <a href="javascript:void(0)" [innerHTML]="'footer.addressLine'|translate"></a>
            </li>
          </ul>

        </div>
      </div>

      <div class="col-sm-6 col-md-3 col-lg-2">
        <a href="http://www.uz/ru/res/visitor/index?id=27160" target="_blank">
          <img
            src="http://cnt0.www.uz/counter/collect?id=27160&amp;r=https%3A//alskom.uz/ru/&amp;pg=https%3A//alskom.uz/ru/contacts/&amp;c=Y&amp;j=N&amp;wh=1536x864&amp;px=24&amp;js=1.3&amp;col=F7AE00&amp;t=ffffff&amp;p=0E418F"
            width="88" height="31" border="0" alt="Топ рейтинг www.uz">
        </a>
        <br>
        <br>
        <div class="list-menu">
          <ul class="list-unstyled">
            <li>
              <p>
                {{"footer.developBy"|translate}} <br>
                <a href="http://Axios.ltd" target="_blank">Axios Solutions LLC </a>
              </p>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</footer>
