<footer class="docs-footer">
    <div class="docs-footer-list">
        <div class="docs-footer-logo">
            <div class="footer-logo">
                <img class="docs-footer-angular-logo"
                     src="assets/img/logo.png"
                     alt="angular">
            </div>
        </div>

        <div class="docs-footer-version">
            <span class="version">Current Version: 0.0.1</span>
        </div>

        <div class="docs-footer-copyright">
            <span>Powered by Alskom Vita ©2019.</span>
        </div>
    </div>
</footer>
