<section id="get-started" class="padd-section text-center wow fadeInUp">

  <div class="container">
    <div class="section-title text-center">

      <h2>О компании </h2>
      <p class="separator">
        ответственностью Страховая Компания «ALSKOM-VITA» (далее – «Компания»)
        создана решением Наблюдательного совета Акционерного общества Страховой Компании «ALSKOM» от 4
        апреля 2019 года, учитывая перспективы развития отрасли страхования жизни в Республике Узбекистан, с
        целью оказания комплексных услуг по накопительному страхованию жизни, добровольному медицинскому
        страхованию, страхованию выезжающих за рубеж, страхование от различных заболеваний.
      </p>

    </div>
  </div>

  <div class="container">
    <div class="section-title">

      <h3>
        Целью Компании является
      </h3>

    </div>

    <div class="row">

      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="feature-block">

          <img src="assets/img/svg/vector.svg" alt="img" class="img-fluid">
          <h4>Обеспечение надежных</h4>
          <p>
            страховых гарантий потребителям страховых услуг;
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="feature-block">

          <img src="assets/img/svg/cloud.svg" alt="img" class="img-fluid">
          <h4>Внедрение новых</h4>
          <p>
            финансовых инструментариев, способствующие удовлетворению потребности
            трудоустроенных слоев населения в накоплении денежных средств в длительной перспективе и
            страховой защите их жизни и здоровья;
          </p>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="feature-block">

          <img src="assets/img/svg/tools.svg" alt="img" class="img-fluid">
          <h4>Удовлетворение прогнозируемого</h4>
          <p>
            роста потребности населения в страховых услугах (накопительные виды страхования жизни,
            добровольное медицинское страхование, страхование жизни и здоровья от несчастных случаев и
            др.);
          </p>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="feature-block">

          <img src="assets/img/svg/planet.svg" alt="img" class="img-fluid">
          <h4>Внедрение в практику</h4>
          <p>
            международных стандартов страхования жизни и здоровья.
          </p>

        </div>
      </div>

    </div>
  </div>

</section>
