<section id="about" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
    <div class="container">

        <div class="about-section about-heading" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">О компании</h2>
                <p>
                    Общество с ограниченной ответственностью Страховая Компания «ALSKOM-VITA» (далее – «Компания»)
                    создана решением Наблюдательного совета Акционерного общества Страховой Компании «ALSKOM» от 4
                    апреля 2019 года, учитывая перспективы развития отрасли страхования жизни в Республике Узбекистан, с
                    целью оказания комплексных услуг по накопительному страхованию жизни, добровольному медицинскому
                    страхованию, страхованию выезжающих за рубеж, страхование от различных заболеваний.
                </p>
            </div>
			<br>
            <div>
                <h3 [ngStyle.xs]="{'font-size': '18px'}" [ngStyle.sm]="{'font-size': '22px'}">
                    Целью Компании является:
                </h3>
            </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
            <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
                    <div>
                        <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">build</i>
                    </div>
                    <span fxFlex="30px"></span>
                    <h2 class="about-text">Обеспечение надежных</h2>
                    <span fxFlex="10px"></span>
                    <p class="about-text">
                        страховых гарантий потребителям страховых услуг;
                    </p>
                </div>
            </div>

            <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.lt-md]="{'padding': '0 60px'}">
                    <div>
                        <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">alarm</i>
                    </div>
                    <span fxFlex="30px"></span>
                    <h2 class="about-text">Внедрение новых</h2>
                    <span fxFlex="10px"></span>
                    <p class="about-text"> финансовых инструментариев, способствующие удовлетворению потребности
                        трудоустроенных слоев населения в накоплении денежных средств в длительной перспективе и
                        страховой защите их жизни и здоровья;
                    </p>
                </div>
            </div>

            <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
                    <div>
                        <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">stars</i>
                    </div>
                    <span fxFlex="30px"></span>
                    <h2 class="about-text">Удовлетворение прогнозируемого </h2>
                    <span fxFlex="10px"></span>

                    <p class="about-text">
                        роста потребности населения в страховых услугах (накопительные виды страхования жизни,
                        добровольное медицинское страхование, страхование жизни и здоровья от несчастных случаев и
                        др.);</p>
                </div>
            </div>

            <div fxFlex="25">
                <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
                    <div>
                        <i [ngStyle.lt-md]="{'font-size': '48px'}" class="material-icons">settings</i>
                    </div>
                    <span fxFlex="30px"></span>
                    <h2 class="about-text">Внедрение в практику </h2>
                    <span fxFlex="10px"></span>

                    <p class="about-text">
                        международных стандартов страхования жизни и здоровья.</p>
                </div>
            </div>
        </div>
    </div>
</section>
