<section id="get-started" class="padd-section text-center wow fadeInUp">

  <div class="container">
    <div class="section-title text-center">

      <h2>{{"common.about"|translate}} </h2>
      <p class="separator">
        {{"about.headline"|translate}}
      </p>

    </div>
  </div>

  <div class="container">
    <div class="section-title">

      <h3>
        {{"about.listTitle"|translate}}
      </h3>

    </div>

    <div class="row">

      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="feature-block">

          <img src="assets/img/svg/vector.svg" alt="img" class="img-fluid">
          <h4></h4>
          <p>
            {{"about.listItem1"|translate}}
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="feature-block">

          <img src="assets/img/svg/cloud.svg" alt="img" class="img-fluid">
          <h4></h4>
          <p>
            {{"about.listItem2"|translate}}
          </p>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="feature-block">

          <img src="assets/img/svg/tools.svg" alt="img" class="img-fluid">
          <h4></h4>
          <p>
            {{"about.listItem3"|translate}}
          </p>

        </div>
      </div>

      <div class="col-md-6 col-lg-4 col-xl-3">
        <div class="feature-block">

          <img src="assets/img/svg/planet.svg" alt="img" class="img-fluid">
          <h4></h4>
          <p>
            {{"about.listItem4"|translate}}
          </p>

        </div>
      </div>

    </div>

    <p class="separator text-left" [innerHTML]="'about.footer'|translate">
    </p>

  </div>

</section>
