<h5 class="contact-dialog-title mat-title">Изменение языка:</h5>

<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                 [(ngModel)]="selectedLanguage">
    <mat-radio-button class="example-radio-button" *ngFor="let language of languages"
                      [value]="language.value"
                      [checked]="selectedLanguage==language.value">
        <img src="assets/img/flags/{{language.value}}.png"/>
        {{language.text}}
    </mat-radio-button>
</mat-radio-group>

<div class="dialog-action" fxLayout="row" fxLayoutAlign="center center">
    <button class="left-button" mat-fab color="primary" (click)="onSubmit()">
        <mat-icon>done</mat-icon>
    </button>
    <button class="right-button" mat-fab color="primary" (click)="dialogOff()">
        <mat-icon>clear</mat-icon>
    </button>
</div>
