
.contact-dialog-title{
	text-align: center;
}

.dialog-action{
	width: 100%;
	margin-top: 20px;
}

.right-button{
	margin-left: 50px;
}

.example-radio-group {
	display: flex;
	flex-direction: column;
	margin: 15px 0;
}

.example-radio-button {
	margin: 5px;
}
