<section id="hero" class="wow fadeIn">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-6">
    </div>
    <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-6">
      <div class="hero-container">
        <h1 [innerHTML]="'home.heroTitle'|translate">
        </h1>
        <h2 [innerHTML]="'home.heroContent'|translate">
        </h2>
        <a href="javascript:void (0)" data-target="#get-started"
           class="btn-get-started scrollto"> {{"home.insuranceOffer"|translate}} </a>
        <div class="btns">
          <a href="javascript:void (0)" data-target="#pricing"><i
            class="fa fa-list fa-3x"></i> {{"common.products"|translate}}</a>
          <a href="javascript:void (0)" data-target="#testimonials"><i
            class="fa fa-bookmark fa-3x"></i> {{"common.vacancies"|translate}}</a>
          <a href="javascript:void (0)" data-target="#contact"><i
            class="fa fa-phone fa-3x"></i> {{"common.contact"|translate}}</a>
        </div>
      </div>
    </div>
  </div>
</section>

<app-about></app-about>
<app-branches></app-branches>
<app-leaderships></app-leaderships>
<app-vacancies></app-vacancies>
<app-products></app-products>
<app-news></app-news>
<app-partners></app-partners>
<app-contact></app-contact>
