<section id="hero" class="wow fadeIn">
  <div class="hero-container">
    <h1 [innerHTML]="'home.heroTitle'|translate">
    </h1>
    <Br>
    <h2 [innerHTML]="'home.heroContent'|translate">

    </h2>
    <a routerLink="/about" class="btn-get-started scrollto"> {{"home.insuranceOffer"|translate}} </a>
    <div class="btns">
      <a routerLink="/products"><i class="fa fa-list fa-3x"></i> {{"common.products"|translate}}</a>
      <a routerLink="/vacancies"><i class="fa fa-bookmark fa-3x"></i> {{"common.vacancies"|translate}}</a>
      <a routerLink="/contact"><i class="fa fa-phone fa-3x"></i> {{"common.contact"|translate}}</a>
    </div>
  </div>
</section>
