<section id="blog" class="padd-section wow fadeInUp">

  <div class="container">
    <div class="section-title text-center">

      <h2>{{"common.news"|translate}}</h2>
      <p class="separator"></p>

    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-4" *ngFor="let item of items">
        <div class="block-blog text-left">
          <a href="javascript:void(0)"  (click)="openModal(item,template)">
            <img [src]="baseUrl+item.image" alt="img">
          </a>
          <div class="content-blog">
            <h4>
              <a href="javascript:void(0)"  (click)="openModal(item,template)">{{item.title}}</a>
            </h4>
            <span>{{item.date|date:'shortDate'}}</span>
            <a class="pull-right readmore" href="javascript:void(0)"  (click)="openModal(item,template)">{{"common.readMore"|translate}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"common.description"|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div> 

    <div class="modal-body">

      <div [innerHtml]="item.description" *ngIf="item"></div>

    </div>

    <div class="modal-footer">
 
      <button type="button" class="btn btn-secondary" (click)="closeModal()">
        {{"common.close"|translate}}
      </button> 

    </div>
 
</ng-template>