<section id="news" [ngStyle.lt-md]="{'margin-top': '50px', 'margin-bottom': '50px'}">
    <div class="container">
        <div class="blog-section blog-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Новости</h2>
            </div>
        </div>

        <div class="owl-carousel owl-theme">
            <div class="item" [about]>
                <mat-card>
                    <img mat-card-image width="300" height="150" src="assets/img/news/1.jpg">
                    <mat-card-content>
                        <a href="https://kun.uz/uz/news/2019/08/26/mushakbozlik-va-sayillar-toshkentda-mustaqillik-bayrami-qanday-nishonlanishi-malum-qilindi"
                           target="_blank">
                            <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">
                                Mustaqillik bayrami
                            </h5>
                        </a>
                        <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                            Toshkentda Mustaqillik bayrami qanday nishonlanishi ma'lum qilindi.
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="item" [about]>
                <mat-card>
                    <img mat-card-image width="300" height="150" src="assets/img/news/2.jpg">
                    <mat-card-content>
                        <a href="https://ru.wikipedia.org/wiki/%D0%A1%D1%82%D0%B0%D1%80%D1%82%D0%B0%D0%BF"
                           target="_blank">
                            <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">
                                Стартап
                            </h5>
                        </a>
                        <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                            Термин впервые использован в журнале Forbes в августе 1973 года
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center">
            <button class="customPrevBtn" mat-raised-button color="primary">Предыдущее</button>
            <button class="customNextBtn" mat-raised-button color="accent">Следующий</button>
        </div>
    </div>
</section>
