<section id="blog" class="padd-section wow fadeInUp">

  <div class="container">
    <div class="section-title text-center">

      <h2>{{"common.news"|translate}}</h2>
      <p class="separator"></p>

    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-4" *ngFor="let item of items">
        <div class="block-blog text-left">
          <a href="#">
            <img [src]="baseUrl+item.image" alt="img">
          </a>
          <div class="content-blog">
            <h4>
              <a href="#">{{item.title}}</a>
            </h4>
            <span>{{item.date|date:'shortDate'}}</span>
            <a class="pull-right readmore" href="#">{{"common.readMore"|translate}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

