<section id="resources" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
    <div class="container">

        <div class="about-section about-heading" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Ресурсы</h2>
            </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
            <div fxFlex="50">
                <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
                    <mat-list>
                        <mat-list-item>
                            <a class="logo" fxShow="false" fxShow.gt-xs="true">
                                <img src="assets/img/pdf.png"> Добровольное медицинское страхование
                            </a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item>
                            <a class="logo" fxShow="false" fxShow.gt-xs="true">
                                <img src="assets/img/pdf.png"> Страхование жизни Бонус
                            </a>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
            <div fxFlex="50">
                <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">
                    <mat-list>
                        <mat-list-item>
                            <a class="logo" fxShow="false" fxShow.gt-xs="true">
                                <img src="assets/img/pdf.png"> Страхование от инфекционныхзаболеваний
                            </a>
                        </mat-list-item>
                        <mat-divider></mat-divider>
                        <mat-list-item><a class="logo" fxShow="false" fxShow.gt-xs="true">
                            <img src="assets/img/pdf.png"> Страхование от несчастных случаев
                        </a>
                        </mat-list-item>
                    </mat-list>
                </div>
            </div>
        </div>
    </div>
</section>
