<section id="vacancies" class="mat-typography" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
    <div class="container">

        <div class="about-section about-heading" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Вакансии</h2>
            </div>
        </div>

        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutWrap="nowrap" fxLayoutGap="30px">
            <div fxFlex="100">
                <div fxLayout="column" fxLayoutAlign="center center" [ngStyle.xs]="{'padding': '0 60px'}">

                    <mat-accordion class="example-headers-align">

                        <mat-expansion-panel hideToggle *ngFor="let item of items">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    {{item.position}}
                                </mat-panel-title>
                                <mat-panel-description>
                                    {{item.department}}
                                    <mat-icon>account_circle</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <p>
                                Требования:<br>
                                <span [innerHTML]="item.requirements"></span>
                            </p>
                            <p>
                                Филиал:<br>
                                {{item.placeOfWork}}
                            </p>

                        </mat-expansion-panel>

                    </mat-accordion>

                </div>
            </div>

        </div>
    </div>
</section>
