.about-section {
  text-align: center;
}

.about-heading {
  padding-bottom: 30px;
}

.about-heading h2 {
  font-size: 32px;
}

.about-heading h3 {
  font-size: 22px;
}

.about-text {
  text-align: center;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

mat-form-field {
  margin-right: 12px;
}
