<section id="testimonials" class="padd-section text-center wow fadeInUp">

  <div class="container">
    <div class="section-title text-center">
      <h2>Вакансии</h2>
      <p class="separator"></p>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">

      <div class="col-md-8">

        <div class="testimonials-content">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

            <div class="carousel-inner" role="listbox">

              <div class="carousel-item" *ngFor="let item of items;let i=index" [class.active]="i==0">
                <div class="top-top">

                  <h2>{{item.position}}</h2>
                  <h4>{{item.department}}<span>{{item.placeOfWork}}</span></h4>

                  <p [innerHTML]="item.requirements"></p>

                </div>
              </div>

            </div>

            <div class="btm-btm">

              <ul class="list-unstyled carousel-indicators">
                <li data-target="#carousel-example-generic" *ngFor="let item of items;let i=index"
                    [attr.data-slide-to]="i"
                    [class.active]="i==0"></li>
              </ul>

            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>
