<section id="pricing" class="padd-section text-center wow fadeInUp">

  <div class="container">
    <div class="section-title text-center">

      <h2>Продукты</h2>
      <p class="separator"></p>

    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-3" *ngFor="let item of items">
        <div class="block-pricing">
          <div class="table">
            <h2>
              <img [src]="baseUrl+item.image" class="img-thumbnail"/>
            </h2>
            <h4>{{item.name}}</h4>
            <div class="table_btn">
              <a href="javascript:void(0)" class="btn"> Подробнее</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
