<section id="pricing" class="padd-section text-center wow fadeInUp">

  <div class="container">
    <div class="section-title text-center">

      <h2>{{"common.products"|translate}}</h2>
      <p class="separator"></p>

    </div>
  </div>

  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-3" *ngFor="let item of items">
        <div class="block-pricing">
          <div class="table">
            <h2>
              <a href="javascript:void(0)"(click)="openModal(item,template)">
                <img [src]="baseUrl+item.image"  class="img-thumbnail"  alt="img">
              </a>
            </h2>
            <h4>{{item.name}}</h4>
            <div class="table_btn">
              <a href="javascript:void(0)" class="btn" (click)="openModal(item,template)"> {{"common.readMore"|translate}}</a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<ng-template #template>

  <div class="modal-header">
    <h4 class="modal-title pull-left">{{"common.description"|translate}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

    <div class="modal-body">

      <div [innerHtml]="item.description" *ngIf="item"></div>

    </div>

    <div class="modal-footer">

      <button type="button" class="btn btn-secondary" (click)="closeModal()">
        {{"common.close"|translate}}
      </button>

    </div>

</ng-template>
