<header id="header" class="header header-hide">
  <div class="container">
    <div id="logo" class="pull-left">
      <a href="javascript:void (0)" data-target="#hero">
        <img src="assets/img/logo.png" alt="img" />
      </a>
    </div>
    <nav id="nav-menu-container">
      <ul class="nav-menu align-self-center">
        <li routerLinkActive="menu-active">
          <a href="javascript:void (0)" data-target="#pricing">{{"common.products"|translate}}</a>
        </li>
        <li routerLinkActive="menu-active" class="menu-has-children">
          <a href="javascript:void(0)">{{"common.company"|translate}}</a>
          <ul>
            <li>
              <a href="javascript:void (0)" data-target="#get-started">
                {{"common.about"|translate}}
              </a>
            </li>
            <li>
              <a href="javascript:void (0)" data-target="#team">
                {{"common.leaderships"|translate}}
              </a>
            </li>
            <li>
              <a href="javascript:void (0)" data-target="#testimonials">
                {{"common.vacancies"|translate}}
              </a>
            </li>
          </ul>
        </li>
        <li routerLinkActive="menu-active">
          <a href="javascript:void (0)" data-target="#blog">{{"common.news"|translate}}</a>
        </li>
        <li routerLinkActive="menu-active">
          <a href="javascript:void (0)" data-target="#partners">{{"common.partners"|translate}}</a>
        </li>
        <li routerLinkActive="menu-active">
          <a href="javascript:void (0)" data-target="#contact">{{"common.contact"|translate}}</a>
        </li>
        <li class="menu-has-children">
          <a href="javascript:void(0)">
            <img src="assets/img/flags/{{currentLang.value}}.png" /> {{currentLang.text}}
          </a>
          <ul>
            <li *ngFor="let item of langList">
              <a href="javascript:void(0)" [attr.data-lang]="item.value" (click)="changeLang(item.value)">
                <img src="assets/img/flags/{{item.value}}.png" />
                {{item.text}}
              </a>
            </li>
          </ul>
        </li>
        <li routerLinkActive="menu-active">
          <a href="tel:781471100" class="btn btn-primary text-white">
            <i class="fa fa-phone"></i> (78) 147-11-00;147-22-00
          </a>
        </li>
      </ul>
    </nav>

  </div>
</header>
