<header id="header" class="header header-hide">
  <div class="container">

    <div id="logo" class="pull-left">
      <a routerLink="/home">
        <img src="assets/img/logo.png" alt="img"/>
      </a>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li routerLinkActive="menu-active">
          <a routerLink="/home">{{"common.home"|translate}}</a>
        </li>
        <li routerLinkActive="menu-active" class="menu-has-children">
          <a href="javascript:void(0)">{{"common.company"|translate}}</a>
          <ul>
            <li>
              <a routerLink="/about">
                {{"common.about"|translate}}
              </a>
            </li>
            <li>
              <a routerLink="/leaderships">
                {{"common.leaderships"|translate}}
              </a>
            </li>
            <li>
              <a routerLink="/branches">
                {{"common.branches"|translate}}
              </a>
            </li>
            <li>
              <a routerLink="/vacancies">
                {{"common.vacancies"|translate}}
              </a>
            </li>
          </ul>
        </li>
        <li routerLinkActive="menu-active">
          <a routerLink="/products">{{"common.products"|translate}}</a>
        </li>
        <li routerLinkActive="menu-active">
          <a routerLink="/news">{{"common.news"|translate}}</a>
        </li>
        <li routerLinkActive="menu-active">
          <a routerLink="/contact">{{"common.contact"|translate}}</a>
        </li>
        <li class="menu-has-children">
          <a href="javascript:void(0)">
            <img src="assets/img/flags/{{currentLang.value}}.png"/> {{currentLang.text}}
          </a>
          <ul>
            <li *ngFor="let item of langList">
              <a href="javascript:void(0)" (click)="changeLang(item.value)">
                <img src="assets/img/flags/{{item.value}}.png"/>
                {{item.text}}
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

  </div>
</header>
