<section id="partners" class="padd-section wow fadeInUp">

  <div class="container">
    <div class="section-title text-center">

      <h2>{{"common.partners"|translate}}</h2>
      <p class="separator"></p>

    </div>
  </div>

  <div class="container">

    <div class="row">

      <div class="col-md-6 col-md-4 col-lg-3" *ngFor="let item of items">
        <img [src]="baseUrl+item.image"  width="225" height="225"  alt="img">
        <h4 [innerHTML]="item.name">
        </h4>
      </div>

    </div>

  </div>
</section>

