<section id="leaderships" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
    <div class="container portfolio-card">

        <div class="portfolio-section portfolio-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Руководство</h2>
            </div>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutGap.sm="8px">
            <div fxFlex="33.33" [about] *ngFor="let item of items">
                <mat-card class="p-0 m-0">
                    <a href="javascript:void(0)" (click)="openDialog(item.id)">
                        <img mat-card-image [src]="baseUrl+item.image">
                    </a>
                    <mat-card-content>
                        <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">
                            {{item.fullName}}
                        </h5>
                        <h4>
                            {{item.jobTitle}}
                        </h4>
                        <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                            E-mail : {{item.email}} <br>
                            Телефон : {{item.phone}} <br>
                            Дата рождения: {{item.dateOfBirth|date:'shortDate'}} <br>
                            Образование : {{item.education}}
                        </p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
</section>
