<section id="leaderships" [ngStyle.lt-md]="{'margin-top': '30px', 'margin-bottom': '30px'}">
    <div class="container portfolio-card">

        <div class="portfolio-section portfolio-heading mat-typography" fxLayout="column" fxLayoutAlign="center center">
            <div>
                <h2 [ngStyle.lt-md]="{'margin-bottom': '15px'}">Руководство</h2>
            </div>
        </div>

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutWrap="nowrap" fxLayoutGap="30px" fxLayoutGap.sm="8px">
            <div fxFlex="33.33" [about]>
                <mat-card class="p-0 m-0">
                    <img mat-card-image src="http://unicon.uz/uploads/IbugTUETF1.jpeg">
                    <mat-card-content>
                        <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Хасанов Хислат Пулатович </h5>
                        <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                            Генеральный директор <br>
                            Дата рождения: 23.04.1980 <br>
                            Образование – высшее <br>
                        </p>
                        <mat-divider class="mb-1"></mat-divider>
                        <button class="portfolio-button" mat-icon-button>
                            <mat-icon class="text-muted">email</mat-icon>
                        </button>
                        <button class="portfolio-button" mat-icon-button>
                            <mat-icon class="text-muted">phone</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>
            <div fxFlex="33.33" [about]>
                <mat-card class="p-0 m-0">
                    <img mat-card-image src="http://unicon.uz/uploads/VBB61l4qs1.jpeg">
                    <mat-card-content>
                        <h5 class="mat-headline" [ngStyle.sm]="{'font-size': '16px'}">Мухитдинов Азиз Хакимович </h5>
                        <p class="mat-subheading-2" [ngStyle.sm]="{'font-size': '12px'}">
                            Заместитель генерального директора <br>
                            Дата рождения: 01.01.1980 <br>
                            Образование – Высшее
                        </p>
                        <mat-divider class="mb-1"></mat-divider>
                        <button class="portfolio-button" mat-icon-button>
                            <mat-icon class="text-muted">email</mat-icon>
                        </button>
                        <button class="portfolio-button" mat-icon-button>
                            <mat-icon class="text-muted">phone</mat-icon>
                        </button>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>

    </div>
</section>
